<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['blogo']">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['blogo']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['blogo/my_articles']">My Posts</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLinkActive="active"[routerLink]="['blogo/article/add']">Add</a>
        </li>
        <li class="nav-item" *ngIf="authentificationService.isAdmin()">
          <a class="nav-link" routerLinkActive="active"[routerLink]="['blogo/admin']">Admin</a>
        </li>
        <li class="nav-item" *ngIf="!authentificationService.isLogged()">
            <button class="nav-link btn btn-success align" [routerLink]="['blogo/login']">Login</button>
        </li>
        <li class="nav-item" *ngIf="authentificationService.isLogged()">
          <button class="nav-link btn btn-success align" (click)="logout()">Logout</button>
      </li>
      
      </ul>
    </div>
  </nav>