<form #userFormulaire="ngForm">
    <label for="name">Email</label>
    <input class="form-control" id="email" name="email" type="email" [(ngModel)]="user.email" required> 
    
    <label for="roles">Role:</label>

    <select class ="form-control" name="roles" id="roles" ngModel>
        <option value="">--Please choose an option--</option>
        <option value="">User</option>
        <option value="ROLE_ADMIN">Admin</option>
    </select>
    <label for="content">Password</label>
    <input class="form-control" id="plainPassword" name="plainPassword" type="password" ngModel #pwd="ngModel" required minlength="4">
    <div class="d-flex justify-content-center">
        <button [disabled]="userFormulaire.invalid" class="btn btn-success"(click)="updateUser(userFormulaire)">Update</button>
        <button class="btn btn-danger" (click)="deleteUser()">Delete</button>
    </div>
</form>
